name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and start Docker Compose (DB + App)
      run: |
        docker-compose up -d db
        echo "Waiting for database to start..."
        for i in {1..10}; do
          if docker exec fastapi_db pg_isready -U postgres; then
            echo "Database is ready!"
            break
          fi
          echo "Waiting for DB..."
          sleep 3
        done

    - name: Run tests inside Docker
      run: |
        docker-compose run web pytest --cov=app --cov-report=term-missing -v
        docker-compose down -v --remove-orphans

    - name: Log in to Docker Hub
      if: success()
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      if: success()
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-calculator:latest
